.color-navbar {
  background-color: "#FFFF";
  display: flex;
  flex-direction: column;
}

.bg-navbar {
  background: #19191d;
  position: sticky;
  left: 0px;
  height: 100vw;
  width: 250px;
  text-align: center;
}
.profile-pic {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 30px;
}

.box-profile {
  align-items: center;
}

/* .fontawesomeicon {
  display: flex;
} */

/* .contrainer {
  margin: auto;
} */
