h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex: 1;
}

.about-css {
  width: 100vw;
  height: 100vh;
  /* margin-left: 15%; */
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}
.title-font {
  margin: 2%;
  margin-left: 10%;
  padding: 1.5%;
  font-size: 2rem;
}

.text-about {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

table {
  border: 2px solid rgb(65, 65, 65);
  width: 40%;
  /* margin-left: 10px; */
}
thead {
  text-align: center;
}
td {
  text-align: center;
}
tr {
  height: 50px;
}
.detail-middle-box {
  display: flex;
  margin-left: 50px;
  justify-content: space-evenly;
  justify-self: center;
  /* flex-direction: column; */
}

.skills-detail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 100%;
  gap: 0;
  grid-row-gap: 50px;
}

@media (max-width: 376px) {
  .detail-middle-box,
  .skills-detail {
    flex-direction: column;
    display: flex;
  }
}
