h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex: 1;
}

.about-css {
  width: 100vw;
  height: 100vh;
  /* margin-left: 15%; */
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}
.title-font {
  margin: 2%;
  margin-left: 10%;
  padding: 1.5%;
  font-size: 2rem;
}

.text-about {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

table {
  border: 2px solid rgb(65, 65, 65);
  width: 50%;
  /* margin-left: 10px; */
}
thead {
  text-align: center;
}
td {
  text-align: center;
}
tr {
  height: 50px;
}
.detail-middle-box {
  display: flex;
  justify-content: center;
  justify-self: center;
  gap: 5rem;

  /* flex-direction: column; */
}

.skills-detail {
  display: flex 1 0 auto;
  /* height: 100%; */
  row-gap: 1rem;
  column-gap: 1rem;
  gap: 80px;
}



@media (max-width: 480px) {
.skills-detail {
    display: flex 1 0 100;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .text-about {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
  }
  .detail-middle-box
   {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60px;
    font-size: 0.7rem;
  }
 
}
@media (max-width: 780px) {
  .detail-middle-box,
  table {
    flex-direction: column;
    display: flex;
    width: 50vw;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
  }
  table {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
