h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex: 1;
}

.about-css {
  width: 100vw;
  height: 100vh;
  /* margin-left: 15%; */
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}
.title-font {
  margin: 2%;
  margin-left: 10%;
  padding: 1.5%;
  font-size: 2rem;
}

.text-about {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

table {
  border: 2px solid rgb(65, 65, 65);
  width: 40%;
  /* margin-left: 10px; */
}
thead {
  text-align: center;
}
td {
  text-align: center;
}
tr {
  height: 50px;
}
.detail-middle-box {
  display: flex;
  margin-left: 50px;
  justify-content: space-evenly;
  justify-self: center;

  /* flex-direction: column; */
}

.skills-detail {
  /* grid-template-columns: repeat(4, 1fr); */
  /* flex-direction: row; */
  /* order: 5; */
  /* display: grid; */
  /* flex-grow: 4; */
  /* width: 100vw; */
  height: 100%;
  /* gap: 0; */
  /* align-self: auto; */
  gap: 10px 20px;
}
.box-skills {
  display: flex;
  text-align: center;
  gap: 10px 20px;
}

@media (max-width: 480px) {
  .skills-detail {
    flex-direction: column;
    display: flex;
    gap: 10px 20px;
  }
}
@media (max-width: 780px) {
  .detail-middle-box,
  table {
    flex-direction: column;
    display: flex;
    width: 50vw;
    gap: 10px 20px;
  }
  table {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
