.footer {
  width: 0 auto;
  /* margin-left: 15%; */
  padding: 20px;
  /* box-sizing: border-box; */
  background: chartreuse;
  display: flex;
}

.respon-contect {
  display: flex;
  justify-content: center;
}

